{% extends 'base.html.twig' %}

{% block title %}Hello ApiSearchController!{% endblock %}

{% block body %}
<section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
    <div class="container ">
      <div class="row">
        <div class="col-md-12">
          <div class="card acik-renk-form">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group ">
                    <select action="{{path('search_result') }}" id="iller" class="form-control">
                      <option selected>Moniteurs/Coach</option>
                      <option>Ostéopathe</option>
                      <option>Maréchal/Pareur/Podologue</option>
                      <option>Communication Animale</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group ">
                    <select id="ilceler" class="form-control">
                      <option selected>Région</option>
                      <option>Ile-de-France</option>
                      <option>Rhone Alpes</option>
                      <option>Occitanie</option>
                      <option>Bourgogne</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn  pl-5 pr-5">Rechercher</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
